
pros and cons.docx

GUI/__pycache__/Predst_func_forGUI.cpython-310.pyc
GUI/ui_predst.py
test.py
Notebook to implement new functions.ipynb
/Folder with excel and script
/test.py
/Predst before 13.12.ipynb
/articles
/catalogs/Kniga1.xlsx
/catalogs/ecos 1991-2002.txt